In [1]:
import pandas as pd
import openpyxl

In [2]:
path = r"C:\Users\leeju\Documents\GitHub\capstone_team7\data\X"

In [4]:
# 서울특별시교육청(http://www.sen.go.kr/)
# 정보공개>서울교육통계>연도별 학교현황
# 게시글 제목: %학교 일람표
# - 서울시 학교별 기본 현황 자료(학급수, 학생수, 교원수) 제공
filename="20200401기준_학교일람표.xlsx"

In [5]:
wb = openpyxl.load_workbook(path+"\\"+filename)

In [6]:
# sheetname 확인
wb.sheetnames

['정오표',
 '유치원',
 '초등학교',
 '중학교',
 '고등학교',
 '특수학교',
 '각종학교',
 '고등기술학교',
 '방송통신중',
 '방송통신고']

In [7]:
df = pd.read_excel(path+"\\"+filename, sheet_name="초등학교")

In [8]:
# 컬럼명 재지정 위함
col_list = ["kk","소재구","학교명","설립","kk","kk","주소","kk" #전화번호까지
            ,"kk","kk","kk","kk","kk","kk","kk","kk","kk" # 학급수
            ,"1학년","kk","2학년","kk","3학년","kk","4학년","kk","5학년","kk","6학년","kk","kk","kk","kk","kk","kk","kk" #학생수
            ,"학급당평균학생수"
            ,"교원수","kk","kk","kk","kk","kk" #교원수
            ,"kk","kk","kk","kk","kk","kk" #직원수
            ,"교실수"]

In [9]:
df.columns = col_list

In [10]:
# 불필요한 row 삭제
df = df.drop(index=[0,1,2,3,611,612,613,614],axis=0) #axis=0 : row

In [11]:
# 필요한 컬럼만 남기기
# df=df[["소재구","학교명","주소","1학년","2학년","3학년","4학년","5학년","6학년","학급당평균학생수","교원수","교실수"]]
df=df[["학교명","설립","소재구","1학년","2학년","3학년","4학년","5학년","6학년","학급당평균학생수","주소"]]

In [12]:
df

,학교명,설립,소재구,1학년,2학년,3학년,4학년,5학년,6학년,학급당평균학생수,주소
4,상명대학교사범대학부속초등학교,사립,종로구,61,58,48,46,46,30,24.083333,서울특별시 종로구 홍지문2길 1 . 상명사대부속초등학교 (홍지동.상명초등학교)
5,서울교동초등학교,공립,종로구,21,39,33,34,29,21,15,서울특별시 종로구 삼일대로 446 (경운동)
6,서울대학교사범대학부설초등학교,국립,종로구,99,103,104,104,103,107,20.225806,서울특별시 종로구 대학로 64 서울대학교사범대학부설초등학교(이화동)
7,서울독립문초등학교,공립,종로구,82,82,86,73,93,75,19.076923,서울특별시 종로구 통일로12길 23 (무악동. 독립문초등학교)
8,서울매동초등학교,공립,종로구,26,42,27,46,22,46,14.466667,서울특별시 종로구 사직로9길 19 . 서울매동초등학교 (필운동)
...,...,...,...,...,...,...,...,...,...,...,...
606,서울위례초등학교,공립,강동구,0,0,0,0,0,0,0,서울특별시 강동구 명일로 23 (둔촌동)
607,서울천동초등학교,공립,강동구,136,157,127,143,141,102,20.45,서울특별시 강동구 성안로 200 . 서울천동초등학교 (길동)
608,서울천일초등학교,공립,강동구,41,57,54,60,40,72,17.368421,서울특별시 강동구 구천면로 266 . 서울천일초등학교 (천호동)
609,서울천호초등학교,공립,강동구,115,116,125,116,115,102,18.342105,서울특별시 강동구 구천면로 310-11 (천호동.서울천호초등학교)
610,서울한산초등학교,공립,강동구,139,132,126,138,128,134,21.756757,서울특별시 강동구 풍성로 261 (서울한산초등학교. 둔촌동)

In [13]:
# 데이터 타입 변환(str->numeric)
df[["1학년","2학년","3학년","4학년","5학년","6학년","학급당평균학생수"]] = df[["1학년","2학년","3학년","4학년","5학년","6학년","학급당평균학생수"]].apply(pd.to_numeric)

In [14]:
df.설립.value_counts()

공립    566
사립     39
국립      2
Name: 설립, dtype: int64

In [15]:
# 전학이 자유로운 공립학교만 남김
df = df[df.설립=='공립']

# 새로 지어진 학교는 제외
df = df[df['1학년']!=0]

In [16]:
# reset index
df.reset_index(drop=True, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   학교명       562 non-null    object
 1   설립        562 non-null    object
 2   소재구       562 non-null    object
 3   1학년       562 non-null    int64
 4   2학년       562 non-null    int64
 5   3학년       562 non-null    int64
 6   4학년       562 non-null    int64
 7   5학년       562 non-null    int64
 8   6학년       562 non-null    int64
 9   학급당평균학생수  562 non-null    float64
 10  주소        562 non-null    object
dtypes: float64(1), int64(6), object(4)
memory usage: 48.4+ KB

In [18]:
df['전교생'] = df['1학년']+df['2학년']+df['3학년']+df['4학년']+df['5학년']+df['6학년']

In [19]:
df['1학년비율'] = round(df['1학년']/df['전교생']*100,3)
df['2학년비율'] = round(df['2학년']/df['전교생']*100,3)
df['3학년비율'] = round(df['3학년']/df['전교생']*100,3)
df['4학년비율'] = round(df['4학년']/df['전교생']*100,3)
df['5학년비율'] = round(df['5학년']/df['전교생']*100,3)
df['6학년비율'] = round(df['6학년']/df['전교생']*100,3)

In [20]:
# 4월1일 기준이니까. 학년초 전입전출 끝났다고 보고. 좋은 학군이어서 중학교 배정 잘 받으려고 전학 온 아이들 많은지 보는 건
# 1학년 6학년 학생수 비율로 비교해서 그 차이값 만큼 점수를 가져가자
# 16.667 보다 많은 비율 가지고 있는 학교에 한해서 점수를 주는 방법도 고민했었는데. 그냥 1,6학년 비율 비교하는게 심플하여 이처럼 결정.
df['6학년비율점수']= df['6학년비율'] - df['1학년비율']
#df['학생수비율점수1']= df['6학년비율'] - df['1학년비율']
#df['학생수비율점수2']= round((df['6학년'] - df['5학년']) / df['6학년']*100,3)